body {
 font-family: "Arial";
 background-color: #FFD
}

h1 {
  padding: 15px;
  background-color: #FFA;
  color: blue;
}

div {
  border: solid 1px;
  padding: 10px;
  max-width: 500px;
}

li {
  font-style: italic;
}